/* 字体列表定义在 ./components/Constants.ts */
@import "./components/fonts/hldqjt/dist/qiji-fallback/result.css";
@import "./components/fonts/ysfxt/dist/Slidefu-Regular/result.css";
@import "./components/fonts/rzjkxzdmh/dist/nzgrKangxi/result.css";
@import "./components/fonts/yfxy/dist/YuFanXinYu-Regular/result.css";
@import "./components/fonts/mzxst/dist/MZPXorig/result.css";
@import "./components/fonts/yozai/dist/Yozai-Regular/result.css";
@import "./components/fonts/lxgwwenkai/dist/LXGWWenKai-Light/result.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 定义一个CSS变量来存储字体名称，默认使用楷体 */
:root {
  --custom-font-name: 楷体;
}

/* 使用CSS变量来设置字体 */
.custom-font {
  font-family: var(--custom-font-name), sans-serif;
}

/* 诗词作者名样式 */
.custom-author-style {
  background-color: #c92e2e;
  color: #fff;
}

@media (prefers-color-scheme: dark) {
  .custom-author-style {
    background-color: #a50a0a;
    color: #fff;
  }
}

.custom-settings-button-style {
  opacity: 10%;
}

.custom-settings-button-style:hover {
  opacity: 100%;
}
